.footer-div {
  width: 80vw;
  min-width: 400px;
  background-color: White;
  height: 50px;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  color: #9d4d8c;
  border-radius: 5px;
  margin: 50px 40px 40px 60px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  color: rgb(10, 9, 9);
  font-size: 15px;
  font-style: italic;

}
